body {
  font-family: "Kaisei Tokumin", serif;
}

@keyframes zoom {
  0%,
  50% {
    scale: 0.01;
  }
}
@keyframes overshoot {
  0%,
  50% {
    scale: 0.01;
  }
  75% {
    scale: 1.1;
  }
}

@keyframes points {
  0% {
    translate: 1em 1em;
    opacity: 1;
    animation-timing-function: linear;
  }
  20% {
    translate: 1.5em 0.7em;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

button {
  color: #faf8ef;
  background-color: #776e65;
  line-height: 2;
  border-radius: 4px;
  border: none;
}
